@*@using IOProject.Models*@
@model IEnumerable<IOProject.Models.HelpOffer>
@*@inject SignInManager<SystemUser> SignInManager*@
@{
    ViewData["Title"] = "Index";
}

<h1>Benefactors' offers:</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProjectId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WhenCreated)
            </th>
            <th>
                ByWhom
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WhenCreated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BenefactorId)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


@*
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BenefactorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WhenCreated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (SignInManager.IsSignedIn(User))
        {
            @if (User.IsInRole("Benefactor"))
            {
                @foreach (var item in Model)
                {
                    @if (item.BenefactorId == User.Identity.Name)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.BenefactorId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Amount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.WhenCreated)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                }
            }
            else if (User.IsInRole("Organisation"))
            {
                @foreach (var item in Model)
                {
                    @foreach (int item1 in ViewData["OrganisationProjects"] as List<int>)
                    {
                        @item.ProjectId
                        <br />
                        @item1
                        <br />
                        @if (item.ProjectId == item1)
                        {

                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BenefactorId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Amount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.WhenCreated)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                </td>
                            </tr>
                        }
                    }
                }
            }
            else if (User.IsInRole("Admin"))
            {
                @foreach (var item in Model)
                {

                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.BenefactorId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Amount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.WhenCreated)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>
*@