@using IOProject.Models;
@using IOProject.ViewModels;
@model HelpProjectViewModel
@inject IHelpProjectRepos _repos
<html>
<head>
    <h4>Create the help project!</h4>
</head>
<body>
    <!--<div asp-validation-summary="All" class="text-danger"></div>-->

    <form id="form" method="post" role="form" enctype="multipart/form-data" asp-controller="HelpProject"
    asp-action="DesignProject">
        <div class="form-group-row">
            <label  class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <div class="col-12">
                    <label asp-for="Title" class="form-label"></label>
                    <span asp-validation-for="Title" class="text-danger"></span>
                    <input asp-for="Title" class="form-control" />
                </div>

                <div class="col-12">
                    <label asp-for="ShortDescription" class="form-label"></label>
                    <span asp-validation-for="ShortDescription" class="text-danger"></span>
                    <input asp-for="ShortDescription" class="form-control" />
                </div>

                <div class="col-12">
                    <label asp-for="LongDescription" class="form-label"></label>
                    <span asp-validation-for="LongDescription" class="text-danger"></span>

                    <textarea cols="70" rows="10" asp-for="LongDescription"
                    class="form-control">
                    </textarea>
                </div>
                <br />
                Tags
                <div class="form-group">
                    @foreach (var checkbox in Model.Checkboxes)
                    {
                        <div class="form-check mb-3">
                            <input class="form-check-input"
                                   type="checkbox"
                                   value="@checkbox.description"
                                   name="Tags"
                                   id="@checkbox.description"
                                   checked="@checkbox.isChecked">
                            <label class="form-check-label" for="@checkbox.description">@checkbox.description</label>
                        </div>
                    }
                </div>
                <label class="custom-file-label">Thumbnail </label>
                <span asp-validation-for="Thumbnail" class="text-danger"></span>
                <input asp-for="Thumbnail" class="form-control custom-file-input" />
                <br />
                <label class="custom-file-label">Attachments </label>
                <span asp-validation-for="Attachments" class="text-danger"></span>
                <input multiple asp-for="Attachments" class="form-control custom-file-input" />
                <br />
                <div class="form-group">
                <input type="submit" value="Upload" />
                </div>
            </div>
        </div>
    </form>
    
</body>
</html>
