@model IOProject.Models.Application

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Application</h4>
    <hr />
	<dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicantID)
        </dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.ApplicantID)
		</dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WhenCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WhenCreated)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FileAttachments)
        </dt>
        <dd class="col-sm-10">
            @foreach (var item in Model.FileAttachments)
            {
                @inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment env
                string? PdfName = item?.TrimStart(env.WebRootPath.ToCharArray());
                PdfName = PdfName?.TrimStart("//Files\\".ToCharArray());
                <a asp-action="DownloadFile" asp-route-outputFilePath="@item" target="_blank"> @PdfName </a>
                <br />
            }
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Index" asp-route-HelpProjectID="@Model.ProjectID">Back to List</a>
</div>
