@using IOProject.Models
@using System.Security.Claims
@model IEnumerable<IOProject.Models.HelpProject>
@inject SignInManager<SystemUser> SignInManager
@inject UserManager<SystemUser> UserManager
@{
    ViewData["Title"] = "Index";
}

<h1>Active projects:</h1>

<table class="table">
    <thead>
		<tr>
			
            <th>
                @Html.DisplayNameFor(model => model.Title)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Thumbnail)
			</th>
            <th>
                @Html.DisplayNameFor(model => model.ShortDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LongDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WhenCreated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
			<tr>
            <td>
            @Html.DisplayFor(modelItem => item.Title)
			</td>
				<td>
                    @{
                        @*To properly display thumbnail image we need to identify its relative path in wwwroot folder.*@
                    @inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment env
                        string? relativeFileName = item.Thumbnail?.TrimStart(env.WebRootPath.ToCharArray());
                    }
                    <img src="@Url.Content("~/"+relativeFileName)" alt="" /> @*TODO? possibility to use CSS to properly contain the image*@
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LongDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WhenCreated)
            </td>

				<td>
					<a asp-action="Details" asp-route-id="@item.Id">Details</a>
                @if (SignInManager.IsSignedIn(User))
                {
                    //Tylko admin i organizacja, KTÓRA DODAŁA PROJEKT powinna móc go edytować i usunąć
                    @if(User.IsInRole("Admin") ||
                       (User.IsInRole("Organisation") && User.FindFirstValue(ClaimTypes.NameIdentifier) == item.ownerID))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                }
            </td>
        </tr>
}
    </tbody>
</table>
