@using IOProject.Models
@using System.Security.Claims
@model IEnumerable<IOProject.Models.HelpProject>
@inject SignInManager<SystemUser> SignInManager
@inject UserManager<SystemUser> UserManager
@{
    ViewData["Title"] = "Index";
}

<h1>Active projects:</h1>

<table class="table">
    <thead>
		<tr>
			
            <th>
                @Html.DisplayNameFor(model => model.Title)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Thumbnail)
			</th>
            <th>
                @Html.DisplayNameFor(model => model.ShortDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.targetAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tags)
            </th>
            <th>
                More
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var project in Model.Where(p => p.isActive == true).OrderByDescending(p => p.WhenCreated)) {
			<tr>
            <td>
            @Html.DisplayFor(modelItem => project.Title)
			</td>
				<td>
                    @{
                        @*To properly display thumbnail image we need to identify its relative path in wwwroot folder.*@
                    @inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment env
                        string? relativeFileName = project.Thumbnail?.TrimStart(env.WebRootPath.ToCharArray());
                    }
                    <img class="thumbnail-image-small" src="@Url.Content("~/"+relativeFileName)" alt="" />
                </td>
            <td>
                @Html.DisplayFor(modelItem => project.ShortDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => project.targetAmount)$
            </td>
            <td>
            <ul>
             @{
                var userTags = new List<string>();
                var currentUser = UserManager.Users.FirstOrDefault(u => u.Id == User.FindFirstValue(ClaimTypes.NameIdentifier));
                if (currentUser != null)
                {
                    userTags = currentUser.tags;
                }
             }

              @foreach (var tag in project.Tags)
               {

                if (currentUser != null && currentUser.Email != "admin@admin.com" && 
                userTags.Count != 0 && userTags.Contains(tag))
                {
                    <li id="tag"><b>@tag</b></li>
                }
                else
                {
                    <li id="tag">@tag</li>
                }
               
             }
            </ul>
            </td>
			<td>
					<a asp-action="Details" asp-route-id="@project.Id">Details</a>
                @if (SignInManager.IsSignedIn(User))
                {
                    //Tylko admin i organizacja, KTÓRA DODAŁA PROJEKT powinna móc go edytować i usunąć
                    @if(User.IsInRole("Admin") ||
                       (User.IsInRole("Organisation") && User.FindFirstValue(ClaimTypes.NameIdentifier) == project.OwnerID))
                    {
                        <a asp-action="Deactivate" asp-route-id="@project.Id">Deactivate</a>
                    }
                    @if(User.IsInRole("Admin"))
                    {
                        <a asp-action="Delete" asp-route-id="@project.Id">Delete</a>
                    }
                }
            </td>
        </tr>
}
    </tbody>
</table>
